.seguimiento-view-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;

  .timeline {
    position: relative;
    max-width: 100%;
  }

  .timeline:before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: var(--color_primary);
    margin-left: -1px;
    top: 0;
    left: 26px;
  }
}
