<div class="container-inicio">
  <app-menu></app-menu>
  <div class="center">

    <div class="navegacion">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <bi name="search" class="icono"></bi>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="notificacion">
        <bi name="bell"></bi>
      </div>
    </div>
  </div>

</div>