<div class="perfil-container">
  <div class="datos">
    <p class="nombre">Allison Herrera</p>
    <p class="tipo">Oro</p>
  </div>
  <div class="imagen" (click)="navegarConfiguracion()">
    <img
      src="https://scontent.fpbc1-2.fna.fbcdn.net/v/t1.0-9/33995384_1734575453289804_4248755427874963456_n.jpg?_nc_cat=101&ccb=2&_nc_sid=174925&_nc_eui2=AeFuox6b3AwBvdo0jb5KZ1YN-7cMTQaRD9T7twxNBpEP1HhMckb9ozvRS67xKssvKpeEuoiIJRDwhYHV0JhUvW7M&_nc_ohc=XJ7xRLRTtEQAX9oe2sy&_nc_ht=scontent.fpbc1-2.fna&oh=10efb6902d7dd762a5786a41d11667d6&oe=5FE4AF27"
    />
  </div>
</div>
