<div class="container-menu">
  <div class="logo">
    <img src="./assets/logo.png" alt="Logo de Trasladista" />

    <div class="actividades">
      <img
        *ngFor="let item of itemsMenu;"
        [src]="'./assets/iconos/' + item.imagen + '.svg'"
        [alt]="item.imagen"
        [routerLink]="item.ruta"
        routerLinkActive="active"
      />
    </div>
  </div>

  <div class="cerrar-sesion">
    <img class="salida" src="./assets/iconos/cerrar-sesion.svg" alt="logo" />
  </div>
</div>
