.container-menu {
  width: 100px;
  height: 100%;
  background-color: var(--color_primary);
  border-radius: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 50px;

  .logo,
  .cerrar-sesion {
    width: 100%;
    text-align: center;

    img {
      width: 50%;
    }

    bi.icon-active::ng-deep  {
      opacity: 1;
    }

    bi::ng-deep  {
      width: 35px;
      height: 35px;
      margin-top: 50px;
      opacity: .4;
      cursor: pointer;

      svg {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color_background);
      }
    }

    .actividades {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
    }
  }
}
