.container-inicio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: var(--color_background);
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;

  .center {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0px 30px;

    .navegacion {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      div.input-group {
        min-width: 30%;
        max-width: 30%;
        div {
          span {
            background-color: #f8f8f8;
          }
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        margin-right: 50px;
        font-weight: bold;
        font-size: 23px;
        color: var(--color_primary);
      }

      .form-control {
        color: white;
        background-color: #f8f8f8;
        font-size: 11px;
        padding: 21px 10px;
      }

      .form-control:focus {
        color: #3c334e;
        background-color: #f8f8f8;
        border-color: none;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(60, 51, 78, 0.25);
      }

      .notificacion {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .contenedor-rutas {
      width: 100%;
      height: 100%;
    }
  }

  .my-modal {
    width: auto;
    height: auto;
    top: 8%;
    right: 5%;
    background-color: var(--color_background);
    border: 1px solid var(--color_primary);
    border-radius: 10px;
    position: absolute;

    display: flex;
    flex-direction: column;
  }

  bi::ng-deep {
    svg {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color_primary);
      cursor: pointer;

      &.bi-bell {
        color: var(--color_primary);
      }
    }
  }
}
