<div class="container-inicio" *ngIf="isLoad">
  <app-menu></app-menu>
  <div class="center">
    <div class="navegacion">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">
            <bi name="search"></bi>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="ID de rastreo"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>

      <div class="notificacion">
        <p>{{titlePage}}</p>
        <bi name="bell" (click)="mostrarModal()"></bi>
        <bi *ngIf="activeTheme === 'dark'" name="droplet-half" (click)="temaLight()"></bi>
        <bi *ngIf="activeTheme === 'light'" name="droplet-half" (click)="temaDark()"></bi>
        <app-perfil></app-perfil>
      </div>
    </div>

    <div class="contenedor-rutas" [@fadeAnimation]="titlePage">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div *ngIf="visibilityModal" class="my-modal" [@fadeAnimation]="visibilityModal">
    <app-notificacion *ngFor="let item of [0,1]"></app-notificacion>
  </div>
</div>
